body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  main {
    text-align: center;
  }

  h1 {
    color: #333;
  }

  .login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }

  .inputDados {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #2980b9;
}
.login-btn{
    background-color: #2980b9;
    padding: 10px;
}
button.login-btn, button.login-btn[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 8px;
}

button.login-btn:hover, button.login-btn[type="submit"]:hover {
    background-color: #2980b9;
}